:root {
    --primary: #1c47c7;
    --primary-hover: #082478 ;
    --bg: white;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

.hero {
    min-height: 100vh;
    background: url(Asset/cube-bg.png);
    background-position: center;
    background-size: cover;
}

.hero h1 {
    font-size: 60px;
}

.hero h2 span {
    font-family: "inconsolata";
    font-weight: 600;
    font-size: 2.3rem;
}

.typing-container {
    min-height: 0;
    display: inline-block;
}

.primary-text{
    color: var(--primary);
}

.primary-text:hover{
    color: var(--primary-hover)  ;
}

.btn-1 {
    border: solid 1px black;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    color: black;
    font-weight: 500;
}

.btn-1:hover {
    border: solid 1px var(--primary);
    border-radius: 4rem;
    /* background-color: var(--primary); */
    padding: 0.5rem 2rem;
    color: var(--primary);
}

.btn-2 {
    border: solid 1px black;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    background-color: black;
    color: white;
    font-weight: 500;
}

.btn-2:hover {
    border: solid 1px var(--primary);
    border-radius: 4rem;
    background-color: var(--primary);
    padding: 0.5rem 2rem;
    color: white;
}


.about {
    border: solid 1px;
    border-radius: 1rem;
    padding: 1rem;
}

.card-img {
    background-color: gainsboro;
    border: solid 1px;
    border-radius: 1rem;
    width: 400px;
    height: auto;
}

.card {
    border-radius: 1rem;
}

.about p {
    font-size: 1rem;
}

.card p i {
    font-size: 2rem;
}

#proyek a{
    font-size: 14px;
}